%h1 Listing device_configurations

%table
  %thead
    %tr
      %th Name
      %th Location
      %th Module type
      %th
      %th
      %th

  %tbody
    - @device_configurations.each do |device_configuration|
      %tr
        %td= device_configuration.name
        %td= device_configuration.location
        %td= device_configuration.module_type
        %td= link_to 'Show', device_configuration
        %td= link_to 'Edit', edit_device_configuration_path(device_configuration)
        %td= link_to 'Destroy', device_configuration, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Device configuration', new_device_configuration_path
