= render 'layouts/base' do
  %body.fixed-nav.fixed-nav-basic.fixed-sidebar{ class: body_classes }
    #wrapper
      = render 'drawer'
      .gray-bg#page-wrapper
        = render 'header'
        = render 'page_header'
        .wrapper.wrapper-content
          = yield
        = render 'footer'
